body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color:#4C4C4D;
}

header {
  padding: 20px 0;
}

header .pros-cons,
footer .pros-cons {
  display: flex;
  align-items: center;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  font-size: 50px;
  padding: 0 0 20px;
  color:#F57B20;
  margin: 0;
}

header h2 {
	color:#F57B20;
}

header p {
  padding: 0 20px;
  margin: 0;
}


.col-md-6 {
  margin: 0 0 30px;
}	

	
.honey-upsides {
	color: #EFE3C6;	
	background-image: url('https://samorege.github.io/honey.jpg');
	background-size: cover;
}

.tennis-downsides {
	color: #EFE3C6;
	background-image: url('https://samorege.github.io/tennis-ball.jpg');
	background-size: cover;
}

section .pros-cons{
	width: 100%;
}

section .pros-cons ul{	
	margin: 50px 10px 0;
	min-height: 300px;
	font-size: 20px;
	font-weight: 500;
}

section .pros-cons li{
	max-width:350px;
	background-color: #050707;
	margin: 50px 40px 0;
}

.join-crowd {
	background-image: url('old-school-tennis-crowd.jpg');
	background-size: cover;
	max-width: 700px;
	min-height: 400px;
	margin: 40px auto;
	
}

section .join-crowd button{
	font-size: 30px;
	margin:70px auto;
}